<?xml version="1.0" encoding="UTF-8" ?>
<config pageSize="25" log="true" verbose="false" apiUrl="https://community.telligent.com/api.ashx/v2/">

	<!-- 
	Replace the "username" and "apikey" with your valid user and apikey.

	Directions:
	https://community.telligent.com/documentation/w/telligent-community-85/47630.create-an-api-key 
	-->
	<api>
		<username></username>
		<apikey></apikey>
	</api>

</config>
